* {
    margin: 0%;
    padding: 0%;
}

html {
    font-size: calc(100vw / 7.2);
    font-size: -webkit-calc(100vw / 7.2);
    -webkit-text-size-adjust: 100%;
    /*去除高亮*/
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* .war{
      width: 100%;
      height: 100%;
      overflow: hidden;
  } */
.war {
    width: 100%;
    height: 100%;
    background: url(../zhangdan/img2/nian.jpg) no-repeat bottom center;
    overflow: hidden;
    position: absolute;
    transition: background 3s linear;
}

.war img:nth-child(1) {
    width: 2rem;
    position: absolute;
    /* bottom: 0rem; */
    bottom: -10rem;
    left: 1.7rem;
    z-index: 66;

}

.war img:nth-child(2) {
    width: 1rem;
    position: absolute;
    /* bottom: -3.2rem; */
    bottom: -13.2rem;
    left: 1.74rem;
    z-index: 65;

}

.war img:nth-child(3) {
    width: 1rem;
    position: absolute;
    /* bottom: -3rem; */
    bottom: -13rem;
    left: 1.4rem;
    z-index: 64;
}

.war img:nth-child(4) {
    width: 2rem;
    position: absolute;
    /* bottom: -3.45rem; */
    bottom: -13.45rem;
    left: 0.91rem;
    z-index: 63;
}

.war img:nth-child(5) {
    width: 1.76rem;
    position: absolute;
    /* bottom: -0.42rem; */
    bottom: -10.42rem;
    left: 0.65rem;
    z-index: 62;
}

.war img:nth-child(6) {
    width: 1.76rem;
    position: absolute;
    /* bottom: -0.1rem; */
    bottom: -10.1rem;
    left: 0.1rem;
    z-index: 61;
}

.war img:nth-child(7) {
    width: 1rem;
    position: absolute;
    /* bottom: -0.6rem; */
    bottom: -10.6rem;
    left: 0.77rem;
    z-index: 60;
}

.war img:nth-child(8) {
    width: 1rem;
    position: absolute;
    /* bottom: 0.17rem; */
    bottom: -10.17rem;
    left: 1.27rem;
    z-index: 59;
}




.war img:nth-child(9) {
    width: 1.26rem;
    position: absolute;
    /* bottom: 0.9rem; */
    bottom: -9.1rem;
    left: 0.77rem;
    z-index: 58;
}

.war img:nth-child(10) {
    width: 1.26rem;
    position: absolute;
    /* bottom: 1.32rem; */
    bottom: -8.68rem;
    left: 1.5rem;
    z-index: 57;
}

.war img:nth-child(11) {
    width: 1.26rem;
    position: absolute;
    /* bottom: 1.72rem; */
    bottom: -8.28rem;
    left: 2.2rem;
    z-index: 56;
}

.war img:nth-child(12) {
    width: 1.26rem;
    position: absolute;
    /* bottom: 2.1rem; */
    bottom: -7.9rem;
    left: 2.86rem;
    z-index: 55;
}

.war img:nth-child(13) {
    width: 1rem;
    position: absolute;
    /* bottom: 2.078rem; */
    bottom: -7.9rem;
    left: 3.63rem;
    z-index: 54;
}



.war img:nth-child(14) {
    width: 1rem;
    position: absolute;
    /* bottom: 4.1rem; */
    bottom: -5.9rem;
    left: 4.1rem;
    z-index: 55;
}

.war img:nth-child(15) {
    width: 2rem;
    position: absolute;
    /* bottom: -0.6rem; */
    bottom: -10.6rem;
    left: 3.6rem;
    z-index: 56;
}

.war img:nth-child(16) {
    width: 1rem;
    position: absolute;
    /* bottom: -0.1rem; */
    bottom: -10.1rem;
    left: 3.99rem;
    z-index: 57;
}

.war img:nth-child(17) {
    width: 1rem;
    position: absolute;
    /* bottom: -0.3rem; */
    bottom: -10.3rem;
    left: 4.34rem;
    z-index: 58;
}

.war img:nth-child(18) {
    width: 1rem;
    position: absolute;
    /* bottom: -0.29rem; */
    bottom: -10.29rem;
    left: 4.84rem;
    z-index: 59;
}


.war img:nth-child(19) {
    width: 0.8rem;
    position: absolute;
    /* bottom: 2.34rem; */
    bottom: -7.66rem;
    left: 4.55rem;
    z-index: 60;
}

.war img:nth-child(20) {
    width: 1.26rem;
    position: absolute;
    /* bottom: -0.7rem; */
    bottom: -10.7rem;
    left: 3.84rem;
    z-index: 61;
}

.war img:nth-child(21) {
    width: 1.26rem;
    position: absolute;
    /* bottom: -0.26rem; */
    bottom: -10.26rem;
    left: 3.11rem;
    z-index: 62;
}

.war img:nth-child(22) {
    width: 0.96rem;
    position: absolute;
    /* bottom: -2.04rem; */
    bottom: -12.04rem;
    left: 2.65rem;
    z-index: 61;
}

.zhuan {
    width: 1.63rem;
    height: 4.61rem;
    z-index: 58;
    margin-left: 2rem;
    position: absolute;
    /* bottom: 0rem; */
    bottom: -10rem;
    left: 0erm;
    animation: a 0.2s linear infinite;
}

@-webkit-keyframes a {
    0% {
        background: url(../zhangdan/img2/z18-a.png) no-repeat;
        background-size: 1.46rem;
    }
    50% {
        background: url(../zhangdan/img2/z18-b.png) no-repeat;
        background-size: 1.46rem;
    }
    100% {
        background: url(../zhangdan/img2/z18-c.png) no-repeat;
        background-size: 1.46rem;
    }
}

@keyframes a {
    0% {
        background: url(../zhangdan/img2/z18-a.png) no-repeat;
        background-size: 1.46rem;
    }
    50% {
        background: url(../zhangdan/img2/z18-b.png) no-repeat;
        background-size: 1.46rem;
    }
    100% {
        background: url(../zhangdan/img2/z18-c.png) no-repeat;
        background-size: 1.46rem;
    }
}

.war img:nth-child(23) {
    width: 1rem;
    position: absolute;
    /* bottom: 1.4rem; */
    bottom: -8.6rem;
    left: 0.3rem;
    z-index: 57;
}

.war img:nth-child(24) {
    width: 1rem;
    position: absolute;
    /* bottom: 4.8rem; */
    bottom: -5.2rem;
    left: 0.3rem;
    z-index: 570;
}

.war img:nth-child(25) {
    width: 2.5rem;
    position: absolute;
    /* bottom: 1.8rem; */
    bottom: -8.2rem;
    left: 1.1rem;
    z-index: 52;
}

.war img:nth-child(26) {
    width: 1rem;
    position: absolute;
    /* bottom: 3rem; */
    bottom: -7rem;
    left: 4.1rem;
    z-index: 52;
}

.war img:nth-child(27) {
    width: 0.82rem;
    position: absolute;
    /* bottom: 6.3rem; */
    bottom: -3.7rem;
    left: 4.2rem;
    z-index: 52;
}

.war img:nth-child(28) {
    width: 1.5rem;
    position: absolute;
    /* bottom: 0.7rem; */
    bottom: -10.7rem;
    left: 5.4rem;
    z-index: 52;
}

.war img:nth-child(29) {
    width: 1.26rem;
    position: absolute;
    /* bottom: -0.5rem; */
    bottom: -10.5rem;
    left: 5.6rem;
    z-index: 53;
}

.war img:nth-child(30) {
    width: 0.6rem;
    position: absolute;
    /* bottom: 3.5rem; */
    bottom: -6.5rem;
    left: 5.8rem;
    z-index: 55;
}

.war img:nth-child(31) {
    width: 1rem;
    position: absolute;
    bottom: -1.2rem;
    left: 6.4rem;
    z-index: 55;
}

.war img:nth-child(32) {
    width: 7.2rem;
    position: absolute;
    bottom: 2rem;
    left: 0rem;
    z-index: 40;
}

.war img:nth-child(33) {
    width: 7.2rem;
    position: absolute;
    bottom: -0.6rem;
    left: 0rem;
    z-index: 61;
}

.war img:nth-child(34) {
    width: 7.2rem;
    position: absolute;
    bottom: 6.4rem;
    left: 0rem;
    z-index: 61;
}

.war img:nth-child(35) {
    width: 7.2rem;
    position: absolute;
    bottom: 6.4rem;
    left: 0rem;
    z-index: 75;
}

#gz {
    width: 0.7rem;
    position: absolute;
    /* bottom: 0rem; */
    bottom: -10rem;
    left: 2.3rem;
    z-index: 666;
}

.ks {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 700;
    top: 0%;
    background: url(../img/zhutu.png) no-repeat top/100%;
    background-size: 7.2rem;
}

.zi {
    display: none;
}

#qiu1 {
    width: 2.1rem;
    position: absolute;
    /* top: 4rem; */
    top: -5rem;
    left: 2rem;
    z-index: 100;
}

#qiu2 {
    width: 1.86rem;
    position: absolute;
    bottom: 5.4rem;
    /* right: 1rem; */
    right: -5rem;
    z-index: 100;
}

#qiu3 {
    width: 1.86rem;
    position: absolute;
    bottom: 5rem;
    /* left: 0.4rem; */
    left: -5.4rem;
    z-index: 100;
}

#qiuzi {
    width: 5.9rem;
    position: absolute;
    bottom: 1.4rem;
    left: 0.6rem;
    z-index: 100;
    display: none;
}